body {
	width : 80%;
	max-width : 800px;
	font-family : "Helvetica";
	margin : 0 auto;
}

.header {
	width : 100%;
	border-bottom : 2px solid black;
	margin : 0 auto;
}

.header p {
	font-size : 1.6rem;
	font-weight : normal;
	color : black;
	padding : 15px 0 5px 20px;
	margin : 0;

}

.footer {
	width : 100%;
	border-top : 2px solid black;
	margin : 0 auto;
	padding : 10px 0;
	display : flex;
	justify-content : center;
	font-size : 0.8rem;
}

.main .body {
	width : 80%;
	margin : 20px auto;
}

.main .title {
	width : 100%;
	margin : 20px auto;
	border-bottom : 1px solid black;
}

.main .title p {
	margin-left : 10px;
	margin-bottom : 0px;
}

.main {
	width : 100%;
	min-height : 500px;
	display : flex;
	justify-content : flex-start;
	flex-direction : row;
}
.main .column {
	border-left: 2px solid black;
}
.main .sidebar {
	width : 250;
	height : 100%;
	padding : 8px;
	overflow : hidden;
}
.main .sidebar div {
	margin : 10px 5px;
}
.main .sidebar div a{
	margin : 2px;
	text-decoration : none;
	color : black;
}
